# compilation files
__pycache__/
*.py[cod]
*$py.class

# Distribution or packaging files
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg

# Local files
results/
Output/
data/
bin/
*.txt
*.eps
*.sh
*.sw*

# Need to include the LICENSE.txt file
!LICENSE.txt
